//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 4/21/13
   Time: 9:19 PM
   To change this template use File | Settings | File Templates.
extends postlayout

block content
    h3
        a(href=categoryUrl(category)) posts in category * #{category}
    - each post in posts
        include includes/postSnippet
