extends layout

block content
    // Start Homepage
    div#homepage

        div.container
            div.sixteen.columns
                img.logo(src="images/logo.png")
            div.slider-text
                div.sixteen.columns
                    div.line

                div.twelve.columns
                    div#slidecaption

                div.four.columns
                    a#prevslide.load-item
                    a#nextslide.load-item
    // End Homepage

    //Start Navigation
    nav

        div.container

            div.twelve.columns

                // Start Nav Links
                ul.links
                    li
                        a(href="#about") About
                    li
                        a(href="#culture") Culture
                    li
                        a(href="#services") Services
                    li
                        a(href="#contact") Contact
                    li
                        a(href="/page/1") Blog
                    li
                        a(href="#homepage")
                            img(alt="", src="images/top-icon.png")
                // End Nav Links

                // Start Dropmenu for mobile
                select.dropmenu(name="dropmenu", onChange="moveTo(this.value)")
                    option(value="", selected="selected") Menu
                    option(value="#homepage") Top
                    option(value="#about") About
                    option(value="#culture") Culture
                    option(value="#services") Services
                    option(value="#contact") Contact
                    option(value="/page/1") Blog
                // End Dropmenu for mobile

            div.four.columns

                // Social Icons
                ul.social-icons
                    li
                        a(href="http://www.facebook.com/gittielabs")
                            img(alt="", src="images/social-icons/facebook.png")
                    li
                        a(href="https://twitter.com/gittielabs")
                            img(alt="", src="images/social-icons/twitter.png")
                // End Icons
    // End Navigation

    // Start About Page
    div#about

        div.container

            div.sixteen.columns

                h1 About Gittie Labs
                div.one-text
                    p Gittie Labs is a creative development company that specializes in mobile, web, and custom development.  We love technology and the creative process.  We are a small shop with big dreams.

            // Start Profile
            div.four.columns
                div.img-wrp
                    img.scaleimg(alt="",src="images/team/team-keith.jpg")
                    div.overlay-wrp
                        div.overlay
                        ul.social-icons.overlay-content
                            li
                                a(href="https://twitter.com/mrkeithelliott")
                                    img(alt="", src="images/social-icons/twitter-green.png")
                            li
                                a(href="http://www.linkedin.com/in/keithelliott")
                                    img(alt="", src="images/social-icons/linkedin-green.png")

                h3 Keith Elliott
                p.job-position Founder
                p.description I am a creative technologist that has been developing software for over 15 years.
                p.description Software is my passion.  I specialize in front-end design for mobile and web applications.  My recent projects range from node.js apps to native iphone apps.

            // End Profile

            // Start Profile
            div.four.columns
                div.img-wrp
                    img.scaleimg(alt="", src="images/team/team-tim.jpg")
                    div.overlay-wrp
                        div.overlay
                        ul.social-icons.overlay-content
                            li
                                a(href="https://twitter.com/timsavery")
                                    img(alt="", src="images/social-icons/twitter-green.png")
                            li
                                a(href="http://www.linkedin.com/in/timsavery")
                                    img(alt="", src="images/social-icons/linkedin-green.png")

                h3 Tim Savery
                p.job-position Founder
                p.description He has over 15 years hands-on experience building scalable, high-performance, web-based systems.
                p.description I am passionate about open-source, community, fatherhood, and challenging norms.

            // End Profile

            // Start Profile
            div.four.columns
                div.img-wrp
                    img.scaleimg(alt="", src="images/team/team-wil.jpg")
                    div.overlay-wrp
                        div.overlay
                        ul.social-icons.overlay-content
                            li
                                a(href="https://twitter.com/wil_wang")
                                    img(alt="", src="images/social-icons/twitter-green.png")
                            li
                                a(href="http://www.linkedin.com/in/wilwang")
                                    img(alt="", src="images/social-icons/linkedin-green.png")

                h3 Wil Wang
                p.job-position Founder
                p.description I am a versatile developer with over 12 years of experience working in the database, back-ends, and front-ends.
                p.description I love to play with new technology and am currently experimenting with both iOS and node.js
            // End Profile
            // Start Profile
            div.four.columns
                div.img-wrp
                    img.scaleimg(alt="", src="images/team/team-grace.png")
                    div.overlay-wrp
                        div.overlay
                        ul.social-icons.overlay-content
                            li
                                a(href="https://www.facebook.com/Craftadon")
                                    img(alt="", src="images/social-icons/facebook-green.png")
                            li
                                a(href="http://www.linkedin.com/in/gracemfrank")
                                    img(alt="", src="images/social-icons/linkedin-green.png")

                h3 Grace Frank
                p.job-position Founder
                p.description I’m a happy, forward-thinking, hard working, creative person.
                p.description I love the arts, and am passionate about creating and seeing the world change.
           // End Profile
    // End About Page

    // Start First Parallax Background (Quote)
    div#parallax1
        div.bg1
        div.pattern
        div.container
            div.vertical-text
                p.prlx-quote You can't use up CREATIVITY The more you use, the more you have.
                div.prlx-author Maya Angelou

    // End First Parallax Background (Quote)

    // Start Culture Page
    div#culture

        div.container
            div.sixteen.columns
                h1 Our Culture
                div.one-text
                    p This is a labor of love.  We all have day jobs, yet we band together and crush out some awesome technology.  Why? We love learning, creating, and giving back.  We have to do more, build more, and carve that cutting edge of development.  Your ideas are the base for our creations, and we want your final build to be cooler than you'd dreamed.  You'll find us riding our motorcycles (yes, all of us) to meet for coffee and create your framework.  We'll be hangin' out any night of the week, eating good food and drinking a bit, to give you what you want.  We're proud of what we do, and we want you to be too.

        div.container

            div.eight.columns
                h4 We are innovative
                p We've been doing this for a long time.  We are avid researchers and tinkerers and we spend a lot of time trying to stay up on the trends and the pulse of where things are going in technology.  Whether you need help with a node.js project or a native iOS application using the latest OS, can would love to help.
                p It's easy to list the buzzwords.  It's hard to raise your hand and say that you are having problems.  We don't profess to have all the answers right when you ask, but we can certainly help you find a direction and work to solve problems with you or for you.  We love to solve tough challenges and are willing to have you take us up on our offer for help.

            div.eight.columns
                h4 We are awesome
                p Sometimes you have to toot your own horn.  We have established ourselves in our careers and we kick butt there.  So, did we rest on our accomplishments and ignore everything else?  No! We created this company instead.  We are trying to share our knowledge and experience with anyone around us that could use a little extra help.  That makes us awesome!
                p Check us out and reach out to us if you want to feel some Gittie love!

    // End Culture Page

    // Start Second Parallax Background (Twitter)
    div#parallax2
        div.bg2
        div.pattern
        div.container">
            div.eleven.columns
                div.vertical-text
                    div.twtr
                    //img(alt="", src="images/social-icons/follow.png", style="margin-top: 36px;")
                    a(href="https://twitter.com/gittielabs", class="twitter-follow-button", data-show-count="false", data-lang="en", data-size="large") Follow @gittielabs

    // End Second Parallax Background (Twitter)

    // Start Services Page
    div#services

        div.container

            div.sixteen.columns
                h1 Our Services
                div.one-text
                    p Gittie Labs is a new age company that can take your ideas and turn them into the web and mobile applications you are envisoioning.  We have the right mix of skills to do your project.

            // Start Icons
            div.one-third.column
                h3 Mobile Development
                div.icon(style="background-image: url(./images/icons/keyboard.png)")
                p.description We develop native iOS and mobile web applications. From concept to code, we can help you navigate the options and develop your project.

            div.one-third.column
                h3 Web Development
                div.icon(style="background-image: url(./images/icons/globe.png)")
                p.description We do web development.  Whether it's a marketing page or web application, we can deliver the results that will exceed your expectations.

            div.one-third.column
                h3 Custom App Development
                div.icon(style="background-image: url(./images/icons/bulb_off.png)")
                p.description Software development is hard.  If you have a hard problem that you need help with, reach out to us.  We can help.
            // End Icons

    // End Services Page

    // Start Contact Page
    div#contact
        div.pattern
        div.container
            div.sixteen.columns
                // Start Contact Block
                div.card
                    h1.white Contact Us
                    div.lines
                        p
                            a(href="mailto://hello@gittie.com") hello@gittie.com
                        ul.contact-social-icons
                            li
                                a(href="http://www.facebook.com/gittielabs")
                                    img(alt="", src="images/social-icons/facebook-big.png")
                            li
                                a(href="https://twitter.com/gittielabs")
                                    img(alt="", src="images/social-icons/twitter-big.png")

                // End Contact Block

            div.copyright
            p © 2012 GittieLabs.
    // End Contact Page

    script type="text/javascript">
        function moveTo(contentArea){
            if(contentArea === '/page/1')
                window.location.href= contentArea;
            else{
                var goPosition = $(contentArea).offset().top;
                $('html,body').animate({ scrollTop: goPosition}, 'slow');
            }
        }


    script type="text/javascript">
        $(document).ready(function(){
          $("a[rel^='prettyPhoto']").prettyPhoto();
        });

    script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
