//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 4/21/13
   Time: 9:21 PM
   To change this template use File | Settings | File Templates.
extends postlayout

block content
    - each post in posts
        include includes/postSnippet

    include includes/pagination
