//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 5/12/13
   Time: 12:55 PM
   To change this template use File | Settings | File Templates.

extends layout
block content
    div#homepage
        div.container
            div.sixteen.columns
                h1 WineWithMe